<div *ngIf="hero">
    <h2>{{hero.name | uppercase}} Details</h2>
    
    <button (click)="onBack()">Go back</button>
    <button (click)="delete()">Delete</button>
    <button (click)="save()">Save to remote</button>

    <div>
        <span>ID:</span> {{hero.id}}
    </div>
    <div>
        <label for="hero-name">Hero Name: </label>
        <input id="hero-name" [(ngModel)]="hero.name" placeholder="Name">
    </div>
    <div>
        <label for="hero-superpower">Hero Superpower: </label>
        <input id="hero-superpower" [(ngModel)]="hero.superpower" placeholder="Superpower">
    </div>

</div>
